
*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.b1 {
    padding: 15px;
    background-color: red;
    width: 100% ;

}
 a {
    color: aliceblue;
text-decoration: none;
margin: 50px; ;
}
.b2 {
    background-image: url(1.JPG);
background-size: 100% 100%;
width: 100% ;
height: 400px;
padding: 10px 50px;
margin-top: -0px;

}
h1 {
    color :aliceblue;
}
.b3 {
 text-align: center;
 
}
p {
    font-size: 16px;
}
.big {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.c1 {
    border: 5px #000 solid ;
    width: 250px;
    text-align: center;
    padding: 10px;

}
.c1 img {
    height: 160px;
    width: 160px;
border: 5px #009 solid ;
border-radius: 50%;
}
.c1 a {
    color: #000;
    
}
.baraa {
    background-color: #000;
    text-align: center;
    padding: 15px;
}
.baraa h2 {
    color: aliceblue;
}
